


/**

* ! style rules 

**/


:root {
    --h1: 40px;
    --h2: 32px;
    --h3: 28px;
    --h4: 24px;
    --h5: 20px;
    --h6: 16px;

    --sub: 20px;

    --label: 16px;
    --ls: 5px;

    --body: 14px;

    --font-1: 'Noto Serif', serif;
    --font-2:'Roboto', sans-serif;

    --color-dark-100:rgba(41, 33, 33, 1);
    --color-dark-75:rgba(41, 33, 33, 0.75);
    --color-dark-50:rgba(41, 33, 33, 0.5);
    --color-dark-25:rgba(41, 33, 33, 0.25);

    --color-white-100:rgba(255,255,255,1);
    --color-white-75:rgba(255,255,255,1);
    --color-white-50:rgba(255,255,255,1);
    --color-white-25:rgba(255,255,255,1);

    --color-blue-100:rgba(0, 140, 255, 1);
    --color-blue-75:rgba(0, 140, 255, 0.75);
    --color-blue-50:rgba(0, 140, 255, 0.5 );
    --color-blue-25:rgba(0, 140, 255, 0.25);
}

/**

* ! style rules for common buttons

**/

.white-btn{

    
}