/**
*! Style rules for sectionOne
*/



.sectionOne__left--text {
    font-size: var(--body);
    color: var(--color-white-75);
}


.sectionOne__left--btn {
    align-self: flex-start;
    margin-top: 20px;
}

/**
*! Style rules for sectionTwo
*/
.sectionTwo {
    display: grid;
    gap: 30px;
    padding: 40px 0;
}

.sectionTwo__content--text {
    font-family: var(--font-2);
    font-size: var(--sub);

}

.sectionTwo__logo img{
    width: 150px; 
}


.sectionTwo__logo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
}

.sectionTwo__btn {
    justify-self: center;
}


/**
*! Style rules for sectionThree
*/

.sectionThree__right--text {
    color: var(--color-dark-50);
    font-family: var(--font-2);
    font-size: var(--body);
}

.sectionThree__right--btn {
    align-self: start;
}


/**
*! Style rules for sectionFour
*/


.sectionFour__left--text {

    color: var(--color-dark-50);
    font-family: var(--font-2);
    font-size: var(--body);

}

.sectionFour__left--btn{
    align-self: start;

}

/**
*! Style rules for sectionFive

*/

.sectionFive {
    display: grid;
    gap: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.sectionFive__content--text {
    font-size: var(--sub);
    font-family: var(--font-2);

}


[class^="sectionFive__cards"] img {
   
    clip-path: circle();
}


.sectionFive__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

[class^="sectionFive__cards--"] {
    box-shadow: var(--shadow-1);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 20px 25px;
    gap: 15px;
    align-items: center;
    
}


[class^="sectionFive__cards--"] .name {
    font-size:var(--h5);
    font-family: var(--font-1);

    font-weight: bold;
}


[class^="sectionFive__cards--"] .position {
    font-family: var(--font-2);
    color: var(--color-dark-75);
    text-transform: uppercase;
}

.sectionFive__btn  {
    justify-self: center;
}

/** 
*! Media queries section
*/


@media (max-width:1200px) {

    .sectionTwo__logo {
        grid-template-columns: repeat(3, 1fr);
    }
    
    
}


@media (max-width:768px) {

    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .sectionOne__right, .sectionFour__right  {
        order: 0;
    }

    .sectionOne__left, .sectionFour__left {
        order: 1;
    }

    .common-title {
        font-size: var(--h4);
    } 


    .sectionFive__cards {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width:568px) {

    .sectionTwo__logo {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .sectionFive__cards {
        grid-template-columns: repeat(1, 1fr);
    }
}